################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Simple DnD Builder/FileContentIndex/098ceaaf-715f-4016-ad61-4fbb3872ef97.vsidx
/.vs/Simple DnD Builder/FileContentIndex/0f7bc4f8-aa13-4da2-a6fa-ff8ae0d0c8b1.vsidx
/.vs/Simple DnD Builder/FileContentIndex/33a6a5f5-23bb-4c69-889c-9e02b8eb0780.vsidx
/.vs/Simple DnD Builder/FileContentIndex/75360131-2bba-4bb8-9512-9296f594f9c9.vsidx
/.vs/Simple DnD Builder/FileContentIndex/7b47e942-8f98-4fc6-93a9-196a3d66bb87.vsidx
/.vs/Simple DnD Builder/FileContentIndex/be80d6c1-647d-4470-bbe1-c0f1b752d29f.vsidx
/.vs/Simple DnD Builder/FileContentIndex/9de9ba0d-6607-49d0-b6f7-168704973d61.vsidx
