@model Skill

<h2>@Model.Name</h2>

<table class="table">
    <tr>
        <th>Name</th>        
        <th>Description</th>
        <th>Ability This Skill Is Based On</th>

    </tr>


    <tr>
        <td>@Model.Name</td>
        <td>@Model.Desc</td>
        <td><a href="/AbilityScore/ViewAbilityScore?index=@Model.Ability">@Model.Ability.ToUpper()</a></td>

    </tr>


</table>