@{
    ViewData["Title"] = "Home Page";
}
<div class="text-xxl-center">
    <h1>Behold!</h1>
</div>
<div class="img-fluid">    
    <img src="https://cdn.vox-cdn.com/thumbor/6g3kPm3YI8SI0UpZuz16MHZPKz8=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22678876/Party_Art.jpg" alt="Behold!" />    
</div>
