@model AbilityScore

<h2>@Model.Name</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Abbreviation</th>
        <th>Description</th>

    </tr>

   
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Abbr</td>
            <td>@Model.Description</td>

        </tr>
    

</table>